extends ./header.jade

block content
  .container.starter-template
    p.lead License This Image For Use on a Blog
    .row
      .col-sm-12
        img.img-responsive(src="#{terms.image_url}")
    br
    form#purchaseForm(action="/charge", method="POST").well
      input(type="hidden", value="#{terms.id}", name="termId")
      input#tokenId(type="hidden", value="", name="tokenId")
      input#stripeEmail(type="hidden", value="", name="stripeEmail")
      .row
        .col-sm-12
          label.control-label Will you receive financial benefit directly attributable to the blog?
          .radio
            label
              input#profit1(type="radio", name="profitRadios", value="True")
              | Yes
          .radio
            label
              input#profit2(type="radio", name="profitRadios", value="False")
              | No
      .row
        .col-sm-12
          label.control-label How many pageviews should this license be active for?
          if payments
            for option in payments
              .radio
                label
                  input.payment-input(type="radio", name="paymentAmountId", value="#{option.id}", data-cents="#{option.cents}", data-views="#{option.maximum_views}")
                  | #{option.minimum_views} - #{option.maximum_views} views (#{option.cents} cents)
      .row
        .col-sm-12
          .btn.btn-default#termsToggle Display Terms
          #hiddenTerms(style="display: none")
            p The license is subject to the following mandatory terms of use:
            p (i) The image may be reproduced online only. No physical copy can be made.
            p (ii) There are no geographical limitations to the use of the license.
            p (iii) The license is non-exclusive, non-transferable, and non-sub-licensable.
            p (iv) The photographer must be attributed.
            p (v) No use can in any way depict the model (if any) in a sensitive, unflattering, or controversial way.
            p (vi) No creation of derivative work
            p (vii) The license can be terminated by a one month written notice after the expiry of the first six months.


    #amount(data-amount=50)
    #maxViews(data-views=0)

    script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js")
    script(src="https://checkout.stripe.com/checkout.js")

    button.btn.btn-default#paymentButton Agree to Terms and Purchase
    script.
      var handler = StripeCheckout.configure({
        key: '#{api_key}',
        token: function (token) {
          $('#tokenId').attr('value', token.id);
          $('#stripeEmail').attr('value', token.email);
          $('#purchaseForm').submit();
        }
      });
      $('#paymentButton').on('click', function (e) {
        handler.open({
          name: 'Purchase a License',
          description: 'at most ' + $('#maxViews').data('views') + ' views',
          amount: $('#amount').data('amount')
        });
        e.preventDefault();
      });
      $(window).on('popstate', function () {
        handler.close();
      });

block scripts
  script(src="/static/js/paymentPage.js")
