extends ./header.jade

block content
  .container.starter-template
    p.lead Purchase a License
    if licenses
      for license in licenses
        img.img-responsive(src="#{license.image_url}")
        form(action="/charge", method="post")
          input(type="hidden", value="#{license.id}", name="termId")
          article
            label
              span Amount is #{license.amount} cents
          script.stripe-button(src="https://checkout.stripe.com/v2/checkout.js", data-key="#{api_key}", data-description="Purchase a License", data-amount="#{license.amount}")
        br
